@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/main-portfolio/fonts/NeueHaasDisplayLight.woff2') format('woff2');
  font-weight: 450;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/main-portfolio/fonts/NeueHaasDisplayLightItalic.woff2') format('woff2');
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/main-portfolio/fonts/NeueHaasDisplayRoman.woff2') format('woff2');
  font-weight: 550;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/main-portfolio/fonts/NeueHaasDisplayRomanItalic.woff2') format('woff2');
  font-weight: 550;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/main-portfolio/fonts/NeueHaasDisplayMedium.woff2') format('woff2');
  font-weight: 650;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/main-portfolio/fonts/NeueHaasDisplayBold.woff2') format('woff2');
  font-weight: 750;
  font-display: swap;
}

:root {
  --font-primary: 'Neue Haas Grotesk Display Pro';
}

body {
  font-family: var(--font-primary), sans-serif;
}
